@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1511367734837-f2956f0d8020?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=994&q=80");
    background-color: rgba(255,255,255, 0.7);
    background-blend-mode: lighten;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    text-align: center;
}

#music-player{
    outline: none;
}

#search-field{
    border: 1px solid lightgrey;
    outline: none;
}

#search-button{
    outline: none;
}

#music-caption{
    margin-bottom: 2px;
}

.search-form {
    text-align: center;
}

.search-btn-container{
    margin-top: 0px;
    margin-bottom: 20px;
}

.search-btn-container label{
    margin-right: 10px;
}

.result-item {
    border: 1px solid lightslategray;
    text-align: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    font-size: 0.75rem;
    width: 10rem;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
}

.result-item img{
    width:100px;
}

.result-item p{
    margin-top: 3px;
    margin-bottom: 3px;
}

.result-item button {
    margin-top: auto;
    padding-top:  9px;
    padding-left: 18px;
    outline: none;
}